@model JobScrapping.Data.Entities.ScrappingDefinitionEntry

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    <a href="@Model.ScrappingSite.Url">Go to the site to scrape</a>
</div>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Scrapping Definition Entry</legend>                                

        @for (int i = 0; i < Model.ScrappingFieldDefinitions.Count; i++)
        {
            <div class="editor-label">
                @Html.LabelFor(model => Model.ScrappingFieldDefinitions[i].DefinitionValue, Model.ScrappingFieldDefinitions[i].ScrappingField.Name)
            </div>
            <div class="editor-field">
                @Html.HiddenFor(model => Model.ScrappingFieldDefinitions[i].ScrappingFieldId)
                @Html.EditorFor(model => Model.ScrappingFieldDefinitions[i].DefinitionValue)
                @Html.ValidationMessageFor(model => model.ScrappingFieldDefinitions[i].DefinitionValue)
            </div>                        
        }
        
        @Html.HiddenFor(model=> model.ScrappingSiteId)
        @Html.HiddenFor(model=>model.EntryUserId)        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
