@model JobScrapping.Web.ViewModels.CreateScrappingViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Scrapping Definition Entry</legend>                                        
        
        @Html.EditorFor(model=>model.ScrappingFields, "ScrappingFields")
        
        @Html.HiddenFor(model=> model.Site.SiteId)
        @Html.HiddenFor(model=>model.UserId)                
    
    
        <p>
            <input type="submit" value="Edit" />
        </p>
        
     </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
